/* apps/web/src/index.css */

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: block; /* IMPORTANT : annule le flex du template Vite */
}

#root {
  width: 100%;
  max-width: none; /* IMPORTANT */
  padding: 0;      /* IMPORTANT */
  margin: 0;
}
